</head>
<body>
  <nav>
		<i class="fas fa-solid fa-plane-departure fa-2xl" style="color: #3960a2;"></i>
    <a 
      href="/meals/new" 
      class=<%= title === 'All Meals' ? 'active' : '' %>
    >
      All Meals
    </a>
    <a 
      href="/flights/new" 
      class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      Add Flight
    </a>
    <a 
      href="/flights" 
      class=<%= title === 'All Flights' ? 'active' : '' %>
    >
      All Flights
    </a>
  </nav>