</head>
<body>
  <nav>
		<i class="fas fa-solid fa-plane-departure fa-beat fa-xs" style="color: #456396;"></i>
    <a 
      href="/flights/new" 
      class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      Add Flight
    </a>
    <a 
      href="/flights" 
      class=<%= title === 'All Flights' ? 'active' : '' %>
    >
      All Flights
    </a>
  </nav>